*{
	font-family: sans-serif;
}

body{
	margin: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

.header{
	background: #fff;
	position: relative;
}

.header-space{
	width: 1100px;
	display: block;
    margin: auto;
}

.header-logo{
	width: 10%;
	display: inline-block;
	vertical-align: middle;
}

.menu-bar{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 150px);
	text-align: center;
}


.list{
	display: inline-block;
	vertical-align: middle;
}

.list-a{
	padding: 20px 20px;
	
}

.content{
	position: absolute;
	top: 99%;
	left: 0;
	right: 0;
	background: #fff;
	display: none;
}

.content-space{
	width: 1100px;
	display: block;
	margin: auto;
}

.list:hover .content{
	display: block;
}

.first-cont{
	display: inline-block;
	vertical-align: top;
	width: 24%;

}

.content-2{
	position: absolute;
	top: 99%;
	left: 0;
	right: 0;
	display: none;
}

.content-2-space{
	width: 1100px;
	display: block;
	margin: auto;
	text-align: left;
}

.second-cont{
	width: 19%;
	display: inline-block;
	vertical-align: top;
}

.list:hover .content-2{
	display: block;
}

.dark{
	background: black;
}

.area{
	text-align: left;
}

.content-3{
	position: absolute;
	top: 99%;
	left: 0;
	right: 0;
	display: none;
}

.content-3-space{
	width: 1100px;
	display: block;
	margin: auto;
	text-align: left;
}

.third-cont{
	width: 19%;
	display: inline-block;
	vertical-align: top;
}

.list:hover .content-3{
	display: block;
}
.img-1{
	position: relative;
}

.body-space{
	width: 1100px;
	display: block;
	margin: auto;
}

.body-head{
	text-align: center;
}

.pic-1{
	width: 33%;
	display: inline-block;
	vertical-align: top;
}

.pic-1{
	position: relative;
	transition: all 1s ease;
}

.pic-1-text{
	position: absolute;
    overflow: hidden;
    bottom: -10;
    height: 0;
    color: white;
}

.pic-1:hover .pic-1-text{
	height: 10px;
	text-align: center;

}